
notebook==6.2.0
pandas==1.2.3
numpy==1.19.5
matplotlib==3.3.4
seaborn==0.11.1
plotly==4.14.3
scikit-learn==0.24.1
Keras==2.4.3
tensorflow==2.4.1
h5py==2.10.0
sklearn-pandas==2.1.0
graphviz==0.1
Pillow==8.1.2